.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  min-width: 394px;
  min-height: 272px;
  margin: 0 auto;
}

.slide {
  min-width: 394px;
  min-height: 272px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 12px;
}

.reflection {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -60px;
  border-radius: 12px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
}
