.projectSlider {
  max-width: 20rem;
  margin: auto;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 0.5rem;
  padding: 1rem;
  max-height: 15rem;
}

.projectSlider__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.projectSlider__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
